.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1.5em;
  justify-items: stretch;
  .no-results-message {
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em;
  }
}

.recipe-card {
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px var(--shadow-color);
  display: flex; /* Added */
  flex-direction: column; /* Ensures content stacks vertically */
  justify-content: space-between; /* Ensures consistent spacing */
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Add transition for scaling and shadow

  &:hover {
    transform: scale(1.05); // Slightly enlarge the card on hover
    box-shadow: 0 10px 20px var(--shadow-color); // Increase shadow size for more depth
  }

  .recipe-card-info {
    padding: 15px;
    flex: 1; /* Pushes the button to the bottom */
    display: flex; /* Added */
    flex-direction: column; /* Aligns children vertically */
    justify-content: space-between; /* Distributes content evenly */
  }
  .recipe-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--text-color);
    margin-top: 0.25em;
  }
  .recipe-desc {
    color: var(--text-light);
    font-size: 0.9em;
    letter-spacing: 1px;
  }
  .view-btn {
    font-size: 1em;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 0.75em;
    display: inline-block;
  }
}
