.featured-searches {
  display: block;
  h2 {
    color: var(--text-color);
    margin-bottom: 1em;
  }
  .featured-searches-container {
    .search-item {
      cursor: pointer;
      background-color: var(--primary-color);
      display: inline-block;
      padding: 0.5em 1em;
      margin: 0 1em 1em 0;
      color: #fff;
      border-radius: 30px;
      box-shadow: 0 3px 6px var(--shadow-color);
      transform: translateX(100%);
      opacity: 0;
      animation: getAnimationDuration(0.5s) slideInRight forwards;
      transition: transform 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: translateX(0); // Smoothly slide back to original position
        background-color: rgba(
          192,
          66,
          163,
          0.6
        ); // Apply color manipulation using rgba() directly
        box-shadow: 0 6px 12px var(--shadow-color); // Increase shadow on hover
      }
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    input,
    .btn {
      height: 35px;
    }
    input {
      min-width: 250px;
      padding: 0 0.5em;
      border-radius: 5px 0 0 5px;
      outline: none;
      border: 1px solid #4d4d4d;
    }
    .btn {
      padding-block: 0;
      padding-inline: 0.75em;
      border-radius: 0 5px 5px 0;
    }
  }
}

.clear-filters-btn {
  padding: 0.5em 1em;
  background-color: #ff6b6b; /* Red button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
  &:hover{
    background-color: #ff4b4b; /* Darker red on hover */

  }
}